.speech{
  font-style: italic;
  font-size: medium;
  color:black;
}
.song{
    font-style: italic;
    font-size: medium;
    color:black;
}
.direction{
    font-style: italic;
    font-size: medium;
    background-color: peachpuff;
    color:black;
}
.head{
    color:cornflowerblue;
}
.direction:hover{
    color: crimson;
    background-color: aqua;
}
.name{
    font-style: italic;
    font-size: medium;
    color:black;
}
.ROB{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: darkblue;
}
.ROB:hover{
    color: crimson;
    background-color: aqua;
    border: solid 2px;
}
.DES{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: darkblue;
}
.DES:hover{
    color: crimson;
    background-color: aqua;
    border: solid 2px;
    filter: blur(1px);
}
.MAR{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: darkblue;
}
.MAR:hover{
    color: crimson;
    background-color: aqua;
    border: solid 2px;
    filter: blur(1px);
}
.ROD{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: darkblue;
}
.BOTH{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: green; 
}
table, th, td {
    border: 1.5px solid darkcyan;
    border-collapse: collapse;
    text-align: center;
    color: purple;
    
    
  }
  tr:nth-child(odd) {
    background-color:darkgrey;
    margin-left:auto;

  }
  .navigationbar-horizontal {
  
    margin: 0;
    padding: 0;
    list-style-type: none;
    color:blanchedalmond;
}

ul.navigationbar-horizontal li {
    float:left; 
    color:beige;
    background-color:blue;
}
    
.navigationbar-horizontal a {
    padding: 15px;
    display:block;
    color: rosybrown;
}

.navigationbar-horizontal a:hover {  
    
    color:whitesmoke;
    background-color:green;
}
