.speech{
  font-style: italic;
  font-size: medium;
  color:blue;
}
.song{
    font-style: initial;
    font-size: medium;
    color:forestgreen;
}
.direction{
    font-style: italic;
    font-size: medium;
    background-color: peachpuff;
    color:green;
}

.direction:hover{
    color: crimson;
    background-color: aqua;
}
.name{
    font-style: italic;
    font-size: medium;
    color:blue;
}
.ROB{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: darkblue;
}
.ROB:hover{
    color: crimson;
    background-color: aqua;
    border: solid 2px;
}
.DES{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: darkblue;
}
.DES:hover{
    color: crimson;
    background-color: aqua;
    border: solid 2px;
    filter: blur(1px);
}
.MAR{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: darkblue;
}
.MAR:hover{
    color: crimson;
    background-color: aqua;
    border: solid 2px;
    filter: blur(1px);
}
.ROD{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: darkblue;
}
.BOTH{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: green; 
}
table, th, td {
    border: 1.5px solid grey;
    border-collapse: collapse;
    text-align: center;
    color: purple;
    
    
  }
  tr:nth-child(odd) {
    background-color: #f2f2f5;
    margin-left:auto;

  }
